*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica, sans-serif;

}
body,html{
    width: 100%;
    height: 100%;
}
#home{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: linear-gradient(to top,rgba(0,0,0,1) 0,rgba(0,0,0,0) 70%,rgba(0,0,0,.8) 80%),url("../img/AZ-en-20210322-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    nav {
        display: flex;
        align-items: center;
        .logo{
            margin-left: 5%;
            img{
                width: 180px;
                height: 100px;

            }
        }
    }
    .icon{
        display: flex;
        align-items: center;
        position: absolute;
        right: 5%;
        .select{
            width: 110px;
            background-color: black;
            padding: 2px;
            height: 37px;
            text-align: center;
            line-height: 30px;
            border: 1px solid white;
            border-radius: 2px ;
            
            i{
                color: white;
                font-size: 12px;
                
            }
            select{
                background-color: black;
                color: white;
                border: none;
                font-size: 15px;
                
                
            }
        }
        .button{
            button{
                height: 35px;
                width: 80px;
                color: white;
                background-color: #E50914;
                border-radius: 2px;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 1px;
                margin-left: 24px;
                border: none;
                line-height: 35px;
                cursor: pointer;
                
            }
        }
    }
    
}


@media screen and (max-width:500px){

   #home{
       width: 100%;
       height: 90%;
       nav{
           .logo{
               margin-left: 1%;
               img{
                   width: 120px;
               }
           }
           .icon{
               right: 1%;
               .select{
                   width: 130px;
               }
               .button{
                   button{
                       margin-left: 5px;
                   }
               }
           }
       }
       .center{
        width: 300px;
        top: 30%;
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 15px;
        }
    }
    .row{
        width: 300px;
        top: 50%;
        h5{
        margin-left: 20px;
        font-size: 18px;

        }
        input{
            width: 100%;
            margin-left: 20px;
        }
        button{
            margin-left: 20px;
        }
    }
   }
  

}

.center{
    width: 550px;
    position: absolute;
    color: white;
    text-align: center;
    font-weight: 900;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 20px;
        letter-spacing: 2px;
        word-spacing: 3px;
        margin-top: 20px;
        font-weight: bold;
    }
}

.row{
    width: 750px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    

    h5{
        color: white;
        font-size: 17px;
        margin: 20px 0 10px 0;        
    }
    input{
        width: 60%;
        height: 60px;
        padding: 10px;
    }
    button{
        width: 30%;
        height: 60px;
        background-color: #DB0510;
        color: white;
        font-size: 24px;
        border: none;
        &:hover{
            background-color: #f50915;
        }
        i{
            font-size: 18px;
        }
    }
}
@media screen and (max-width:900px){
    .row{
        width: 450px;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        h5{
            margin-top: 90px;
            font-size: 22px;
            text-align: center;
            font-weight: 200;
        }
        input{
            width: 90%;
        }
        button{
            width: 130px;
            height: 40px;
            font-size: 14px;
            margin-top: 40px;
        }
    }
}
@media screen and (max-width:900px){
    .center{
        width: 500px;
        h2{
            margin-top: 0;
            font-size: 23px;
            letter-spacing: 0;
            word-spacing: 0;

        }
    }
}

/////////////////////


.cnt{
    height: 10px;
    background-color: #222222;
}
.firstcnt{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: black;
    #text1{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        #div1{
            width: 100%;
            color: white;
            margin: 0 70px 0 70px;
            h1{
               font-weight: bold;
               font-size: 50px;
               margin-bottom: 15px;
            }
            h4{
                font-size: 24px;
            }
        }
    }
    #text2{
        width: 50%;
        height: 70%;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img{
            width: 100%;
            position: absolute;
        }
        video{
            width: 75%;
        }
        
        #div2{
            position: relative;
           
          
        }
    }
      
}
@media screen and (max-width:1200px){
    .firstcnt{
        flex-direction: column;

        #text2{
            width: 60%;
            margin-right: 0;
            margin-top: 20px;
    
        }
        #text1{
            width: 100%;
            text-align: center;
            padding: 10px;
            margin-top: 3%;
            #div1{

                h1{
                    font-size: 32px;
                }
                h4{
                    font-size: 19px;
                }
            }
        }
        
    }
   
}
@media screen and (max-width:500px){
    .firstcnt{
        #text1{

            #div1{

                h1{
                    font-size: 22px;
                }
                h4{
                    font-size: 18px;
                }
            }
        }
    }
   
}